
/* antdesign override */

input{
    border-radius: 3px !important;
    border: 1px solid rgba(128, 128, 128, 0.56) !important;
    height: 40px;
}

input:focus{
    outline: none;
    box-shadow: none !important;
    border: 1px solid gray !important;
}


label{
    font-size: 16px !important;
    color: black !important;
    
}

/* .ant-form-item-label{
    text-align: center !important;
} */

.ant-form-item{
    margin: 10px 0 !important;
}










/* common styling used for all */

.card_title{
   font-size: 1.5rem;
   font-weight: bold; 
}

.normal_text{
    font-size: 1rem;
}

.card{
    box-shadow: 0 0 2px gray;
    /* border-radius: 0 !important; */
}

.primaryButton{
    background-color: #005555 !important;
    border-color: #005555 !important;
    height: 40px !important;
    width: 100% !important;
    color: white !important;
    font-size: 16px !important;
}



/* //authentication pages....styling */

.auth{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authForm{
    width: 400px;
}